.form-sign-up {
    background-color: #08315a;
    height: 580px;
    height: 480px;
    margin-left: 50% !important;
    display: inline-block;
    vertical-align: top;
    width :420px !important;
  }
  .mail{
      width :390px !important;
  }
  .wor{
      width :390px !important;
  }
  .na{
      width :390px !important;
  }